@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
    background-color: antiquewhite;
    font-size: 70px;
}
#lll{
    background-color:red;
}
#ll2{
    background-color: red;
}
#ll3{
    background-color: red;
}
#ll4{
    background-color: red;
}

.g2{
    font-size: 30px;
    background-color: rgb(206, 255, 239);
}
.g1{
    font-size: 30px;
    background-color: rgb(206, 255, 239);
}
.plus{
    font-size: 30px;
}
.w1{
    font-size: 30px;
}
.w2{
    font-size: 30px;
}
.w3{
    font-size: 30px;
}
.p1{
    margin: 5%;
}
